{% extends 'base.html' %}

{% block title %}
  Employee Detail
{% endblock %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <table>
      <tr>
        <td>Name : </td>
        <td>{{ post.name }}</td>
      </tr>
      <tr>
        <td>Username : </td>
        <td>{{ post.username }}</td>
      </tr>
      <tr>
        <td>Email : </td>
        <td>{{ post.email }}</td>
      </tr>
      <tr>
        <td>Mobile No. : </td>
        <td>{{ post.mobileNo }}</td>
      </tr>
    </table>

    <a class="btn btn-default" href="{% url 'employee_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>


  </div>

</div>

{% endblock %}
