{% extends 'base.html' %}
{% block title %} MyWebSiteName {% endblock %}


{% block content %}

<div class="container">
  <div class="jumbotron">
    <div class="">
      <a class="btn btn-default navbar-right" title='Edit Profile' href="{% url 'employee_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-default navbar-right" title='' href="{% url 'logout' %}">Logout</a>
      <h1>Hello {{ post.name }} </h1>

    </div>

    <h3>Welcome to the student details site</h3>
    <a href="{% url 'sl' %}"><button type="button" name="button" class="btn btn-primary">See list of Students</button></a>
    <a href="{% url 'cs' %}"><button type="button" name="button" class="btn btn-danger navbar-right">Add student</button></a>

  </div>

</div>

{% endblock %}
